@font-face {
    font-family: 'translation-plugin';
    src: url('[[font:filter_translations|translation-plugin.eot]]');
    src: url('[[font:filter_translations|translation-plugin.eot]]#iefix') format('embedded-opentype'),
    url('[[font:filter_translations|translation-plugin.woff]]') format('woff'),
    url('[[font:filter_translations|translation-plugin.ttf]]') format('truetype'),
    url('[[font:filter_translations|translation-plugin.svg]]#translation-plugin') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-translate-"]:before, [class*=" icon-translate-"]:before {
    font-family: "translation-plugin";
    font-style: normal;
    font-weight: normal;
    font-size: 16px!important;
    speak: never;
    text-decoration: inherit;
    width: 2.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-translate-tick:before {
    content: '\e800';
}

.icon-translate-edit:before {
    content: '\e801';
}

.icon-translate-cross:before {
    content: '\e802';
}

.icon-translate-default:before {
    content: '\e803';
}

.icon-translate-default-circle:before {
    content: '\e804';
}

.filter_translations_btn_translate.icon {
    display: inline;
    z-index: 999;
}

#page-filter-translations-edittranslation #fitem_id_substitutetext_editor .col-form-label,
#page-filter-translations-edittranslation #fitem_id_substitutetext_plain .col-form-label,
#page-filter-translations-edittranslation #fitem_id_substitutetext_editor + .form-group .col-form-label,
#page-filter-translations-edittranslation #fitem_id_substitutetext_plain + .form-group .col-form-label {
    display: none !important;
}

.filter_translations_btn_translate {
    border-radius: 10px;
    padding: 0 1px;
    margin: 2px;
    height: 1.5rem;
}

pre.filter_translations_rawhtml {
    white-space: pre-wrap;
    word-wrap: break-word;
}