.filter_translations_btn_translate.icon {
    display: inline;
    z-index: 999;
}

#page-filter-translations-edittranslation #fitem_id_substitutetext_editor .col-form-label,
#page-filter-translations-edittranslation #fitem_id_substitutetext_plain .col-form-label {
    display: none!important;
}

.filter_translations_btn_translate .icon {
    width: auto;
    margin: 0;
    height: 14px;
}
