<a class="nav-link popover-region" title="{{#inlinetranslationstate}}{{#str}}stopinlinetranslation, filter_translations{{/str}}{{/inlinetranslationstate}}{{^inlinetranslationstate}}{{#str}}startinlinetranslation, filter_translations{{/str}}{{/inlinetranslationstate}}" href="{{{url}}}">
    {{#pix}} manage, filter_translations {{/pix}}
</a>
