<i
        role="button"
        class="icon fa fa-language fa-fw filter_translations_btn_translate alert {{#staletranslation}}alert-warning{{/staletranslation}}{{#goodtranslation}}alert-success{{/goodtranslation}}"
        title="{{#staletranslation}}{{#str}}translate_stale, filter_translations{{/str}}{{/staletranslation}}{{#goodtranslation}}{{#str}}translate_good, filter_translations{{/str}}{{/goodtranslation}}{{^translationid}}{{#str}}translate_none, filter_translations{{/str}}{{/translationid}}"
        data-inpagetranslationid="{{{inpagetranslationid}}}"
>
</i>
