<i role="button" class="icon fa fa-language fa-fw filter_translations_btn_translate {{#dirtytranslation}}alert alert-warning{{/dirtytranslation}}{{#goodtranslation}}alert alert-success{{/goodtranslation}}" data-rawtext="{{{rawtext}}}" data-dirtytranslation="{{dirtytranslation}}" data-generatedhash="{{{generatedhash}}}" data-foundhash="{{{foundhash}}}" data-translationid="{{{translationid}}}"></i>
