<div class="filter_translations_perf_info">
    <h5>Translation data</h5>
    <dl>
        <dt>Cache hits</dt>
        <dd>{{cachehit}}</dd>
        <dt>Google translate fetches</dt>
        <dd>{{googletranslatefetches}}</dd>
        <dt>DeepL translate fetches</dt>
        <dd>{{deepltranslatefetches}}</dd>
        <dt>Language string lookup fetches</dt>
        <dd>{{langstringlookupfetches}}</dd>
        <dt>Existing manual translations found</dt>
        <dd>{{existingmanualtranslationsfound}}</dd>
        <dt>Existing auto translations found</dt>
        <dd>{{existingautotranslationsfound}}</dd>
        <dt>Translation not found</dt>
        <dd>{{translationnotfound}}</dd>
    </dl>
</div>