<i role="button" class="translationkey_{{{translationkey}}} icon fa fa-language fa-fw filter_translations_btn_translate {{#dirtytranslation}}alert alert-warning{{/dirtytranslation}}{{#goodtranslation}}alert alert-success{{/goodtranslation}}"></i>
